ipykernel
ipywidgets
openai==1.3.7
trulens_eval==0.18.3 
chromadb==0.4.18
faiss-cpu
llama-index
llama-hub
transformers>=4.6.0,<5.0.0
tokenizers>=0.10.3
torch
tqdm
trulens
llama-cpp-python
sentence-transformers
huggingface-hub
InstructorEmbedding
langchain
PyMuPDF
pypdf